# Dependencies & Build Output
node_modules/
dist/
build/
uploads/
coverage/

# Local Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Operating system & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
.kiro/
scratch/
*.tmp

# Logs
*.log
npm-debug.log*

# Heavy Media Files (Demo video & Screenshots)
*.mp4
*.jpeg
*.png